body {
    background-color: #ebf1f3;
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ),url("https://images.pexels.com/photos/1438072/pexels-photo-1438072.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
  }
  
  * :not(h1){
    font-family: Arial, Helvetica, Courier New;
    font-size: 1em;
    font-weight: 200;
  }
  
  header {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 10px;
  }
  
  h1 {
    margin-bottom: 5px;
  }
  
  p {
    margin-top: 0;
    font-weight: 100;
  }
  
  header p {
    font-style: italic;
  }
  
  main {
    width: 650px;
    margin: auto;
    padding: 10px 0;
    background-color: rgba(4, 59, 92, .8);
    border-radius: 12px;
  
  }
  
  .Questions {
    margin: 35px 40px 0px;
    display: flex;
    flex-wrap: wrap;
  }
  
  input, textarea, select {
    flex-basis: 100%;
    border-radius: 5px;
    padding: 5px;
    margin-top: 6px;
    border-color: transparent;
  }
  
  fieldset {
      border: 0;
      padding: 0.01em 0 0 0;
      margin: 0;
      min-width: 0;
  }
    
  legend {
      display: table;
      float: left;
      margin: 0;
      padding: 0;
      width: 100%;
  
      + * {
          clear: both;
      }
  }
  
  #submit {
    background-color: blue, #52CC7A;
    border: 0;
    color: white;
  }
  
  .Questions div {
    padding-top: 6px;
  }
  
  
  
